.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #52525a;
  background: linear-gradient(to bottom, rgb(21, 76, 99), #52426cd4, #362f678c);
}